.calendar
{
    font-size: 200%;
    font-family: Meiryo;
}

.btn1
{
    width:25%;
    height:50px;
    font-size: 1.5em;
}

.btn2
{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}
.btn2:active
{
    color: orange;
}

.center
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center::before
{
    content: "\A";
    white-space: pre;
}

.item::before, .item::after
{
    content: "\A";
    white-space: pre;
}

.item2
{
    padding:10px;
    font-size:1em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:0 0 20px;
    width:100px;
}

.schedule
{
    float: left;
}

html, body
{
    overflow: scroll;
}
