/* This is a CSS file */

.form 
{
    text-align: left;
    font-family: "Meiryo UI";
}

.style1 
{
    text-align: left;
    margin-bottom: 2em;
}

.style2 
{
    padding-left: 3em;
}

.style3
{
    padding-left: 2em;
}

.style4
{
    padding-left: 5em;
}

.style5
{
    padding-left: 5em;
}

html, body
{
    overflow: hidden;
}
